<!-- Rereference Stylesheet  -->
<link rel="stylesheet" href="/css/form.css">

<!-- NEW ACORN FORM -->
<div class = form-container>
    <h1>Create a New Acorn</h1>
    <div class= new_acorn_form>

  <!-- ACORN TITLE -->
      <div class="form-group">
        <label for="acorn-name"> </label><br>
        <input type="text" class="form-control" id="acorn-name" name="name" placeholder="Acorn Name" value="{{acorn.name}}"/>
      </div>

      <!-- ACORN DESCRIPTION -->
      <div class="form-group">
        <label for="description"></label><br>
        <textarea class="form-control" id="acorn-description" name="description" placeholder="A Brief Description of this Acorn" rows="10" cols="45" />{{acorn.description}}</textarea>
      </div>


      <!-- ACORN URL -->
      <div class="form-group">
        <label for="acorn-url"></label><br>
        <input class="form-control" id="acorn-url" type="text" name="acornCategory" placeholder="Acorn URL" value="{{acorn.url}}"/>
      </div>

      <!-- ACORN CATEGORY -->
      <!--Value? -->
      <div class="form-group">
        <select id="category" name="category" selected="{{ category }}">
            <!-- FILLER - can we populate this w/ real data? -->
          <option value="make-school">Make School</option>
          <option value="psychology">DIY</option>
        </select>
      </div>

        <!--ACORN IMAGE UPLOAD  -->
        <div class="form-group">
            <input class="form-control" id="acornImg" type="file" name="acornImg" accept="image/*" value="{{acorn.acornImg}}" />
        </div>
    </div>
</div>
