<!-- ACORN INDEX-->

<div class="your-categories-container">

    <h1 class="categories">{{cat}}</h1>

</div>

<div class="button-column">

        <a class="btn btn-sm btn-outline-dark" href="/resources" role="button">Back to Categories</a>
        
    <form action="/resources/new" method="get">
        <input type="hidden" name="category" value="{{cat}}">
        <button class=" btn-outline-dark btn-sm" type="submit">Create New Acorn</button>
    </form>
    <!-- <form>
      <input class="btn-outline-dark btn-sm" type="button" value="Back to Categories!" onclick="history.back()">
    </form> -->
</div>

<!-- <div class="new-acorn-container">
    Acorn Image
    <img class="big-acorn1" src="/assets/big-acorn.png" alt="Squirrel Away Hero">

    <h1 class="made-new-acorn1">Create a New Acorn</h1>

    Create a New Acorn Button
    <form action="/resources/new" method="get">
        <input type="hidden" name="category" value="{{cat}}">
        <button class=" btn-outline-dark btn-sm new-acorn-button" type="submit">Create</button>
    </form>
</div>«»

<div class="">
    <form>
      <input class="btn-outline-dark btn-sm" type="button" value="Back to Categories!" onclick="history.back()">
    </form>
</div> -->

<!-- Where Acorns Are Displayed -->
<div class="row row-body">

{{#each acorns}}
<div class="card-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.notes}}</p>
                <a href="{{this.url}}" class="card-link">Card link</a>
                <p><a href="/resources/{{this._id}}/edit">Edit</a></p>
                <form method="POST" action="/resources/{{this._id}}?_method=DELETE">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </div>
        </div>
</div>

  <!-- <div class="col-sm-3">
    <h2><a href="/resources/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.category}}</small>
  </div> -->
  {{/each}}

</div>
