<!-- ACORN INDEX-->

<!-- Create a New Acorn Button -->
<form class="new-acorn-button-container" action="/resources/new" method="get">
      <button class=" btn-outline-dark btn-lg new-acorn-button" type="submit">Create a New Acorn</button>
</form>


<div class="card-container">
    <div class="row">
        {{#each acorns}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.notes}}</p>
                <a href="{{this.url}}" class="card-link">Card link</a>
                <p><a href="/resources/{{this._id}}/edit">Edit</a></p>
                <p><form method="POST" action="/resources/{{this._id}}?_method=DELETE">
                <button class="btn btn-primary" type="submit">Delete</button>
            </div>
        </div>
    </div>
</div>

  <!-- <div class="col-sm-3">
    <h2><a href="/resources/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.category}}</small>
  </div> -->
{{/each}}
