<h1 class="categories">Your Categories</h1>

<!-- <a href="/categories/new">New Category</a> -->

<div class="row">
    {{#each categories}}
  <div class="col-sm-3">
    <p><a href="/{{this}}">{{this}}</a></p>
    <!-- <h2><a href="/categories/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.categoryName}}</small> -->
  </div>
{{/each}}
</div>
