<!-- CATAGORIES SHOW -->

<a href="/">Back to Home</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{acorn.name}}</h1>
    <h2>{{acorn.categoryName}}</h2>
    <p>{{acorn.description}}</p>

    <p><a href="/categories/{{acorn.categoryId}}/acorns/{{acorn._id}}/edit">Edit</a></p>

    <p><form method="POST" action="/categories/{{acorn.categoryId}}/acorns/{{acorn._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>

  </div>
</div>
