<!-- CATEGORY SHOW -->

<!--Create an Acorn Button  -->
<div class="text-right">
    <a href="/categories/{{category._id}}/acorns/new" class="btn btn-primary">Create an Acorn</a>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-8">
            <h1>{{category.name}}</h1>
            <p class="lead">{{category.description}}</p>
        </div>

        <h3>Your Acorns</h3>
        {{#each acorns}}

    <div>
        <h1><a href="/categories/{{this.categoryId}}/acorns/{{this._id}}"></h1>
            <h2>{{category.name}}</h2>
            <p>{{this.description}}</p>

    <!--Edit Category -->
            <p><a href="/categories/{{this.categoryId}}/acorns/{{this._id}}/edit">Edit</a></p>

    <!-- Delete Category Button -->
      <p><form method="POST" action="/categories/{{this.categoryId}}/acorns/{{this._id}}?_method=DELETE">
          <button class="btn btn-primary" type="submit">Delete</button>
      </form></p>

        </a>
        {{/each}}
        
    </div>
    </div>
</div>
