<h1 class="categories">Your Categories</h1>

<!-- <a href="/categories/new">New Category</a> -->

<div class="row">
    {{#each categories}}
  <div class="col-sm-3">
    <p><a href="/{{this}}">{{this}}</a></p>
    <!-- <h2><a href="/categories/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.categoryName}}</small> -->
  </div>
{{/each}}
    <div class="col-sm-3">

            <!-- Acorn Image -->
            <!-- <img class="big-acorn1" src="/assets/big-acorn.png" alt="Squirrel Away Hero"> -->

            <!-- <h1 class="made-new-acorn1">Create a New Acorn</h1> -->

            <!-- Create a New Acorn Button -->
            <form action="/categories/new" method="get">
                <button class=" btn-outline-dark btn-sm new-acorn-button" type="submit">+</button>
            </form>


    </div>
</div>
